<!DOCTYPE html>
<head>
  <style type="text/css">

    body {
    background-image: url("http://cache3.asset-cache.net/xd/482852265.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE4807081610AC0290052D1DB44E5599D888A8526B16A7C9562FAD1F854D35FC08A3B");
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    }

    div.box input {
    font-size: 22px;
    }

  </style>
</head>
<body>
  <center>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="box">
      <form method="POST">
	<input type="text" name="question" style="width: 450px">
	<input type="submit" name="button" value="ask">
      </form>
    </div>
  </center>
</body>

</html>
